%body#top.scrollspy
  / Pre Loader
  #loader-wrapper
    #loader
    .loader-section.section-left
    .loader-section.section-right
  / Navigation
  .navbar-fixed
    %nav#nav_f.default_color{:role => "navigation"}
      .container
        .nav-wrapper
          %a#logo-container.brand-logo{:href => "#"} #{edition}. #{t.meta.name}
          %ul.right.hide-on-med-and-down
            %li
              %a{:href => "#intro"}=t.navigation.about
            %li
              %a{:href => "#work"}=t.navigation.previous
            %li
              %a{:href => "#team"}=t.navigation.team
            %li
              %a{:href => "#contact"}=t.navigation.contact
          %ul#nav-mobile.side-nav
            %li
              %a{:href => "#intro"}=t.navigation.about
            %li
              %a{:href => "#work"}=t.navigation.previous
            %li
              %a{:href => "#team"}=t.navigation.team
            %li
              %a{:href => "#contact"}=t.navigation.contact
          %a.button-collapse{"data-activates" => "nav-mobile", :href => "#"}
            %i.mdi-navigation-menu
  / Hero
  #index-banner.section.no-pad-bot
    .container
      %h1.text_h.center.header.cd-headline.letters.type
        %span Sesja Linuksowa to
        %span.cd-words-wrapper.waiting
          %b.is-visible ponad 200 pasjonatów
          %b nowoczesne technologie
          %b 2 dni
  / Intro and service
  #intro.section.scrollspy
    .container
      .row
        .col.s12
          %h2.center.header.text_h2
            Jedna z <span class="span_h2">największych</span> konferencji dotyczących <span class="span_h2">wolnego oprogramowania</span> w Polsce!
        .col.s12.m4.l4
          .center.promo.promo-example
            %i.mdi-image-flash-on
            %h5.promo-caption
              Czym jest Sesja?
            %p.light.center
              Jest to konferencja poświęcona rozwiązaniom Open Source oraz najnowszym trendom w systemach z rodziny GNU/Linux.
        .col.s12.m4.l4
          .center.promo.promo-example
            %i.mdi-social-group
            %h5.promo-caption
              Jak to wygląda?
            %p.light.center
              Udział w Sesji jest darmowy. Co roku na konferencji spotykają się pasjonaci informatyki z całej Polski, aby pogłębić swoją wiedzę i podjąć dyskusję w interesujących ich dziedzinach.
        .col.s12.m4.l4
          .center.promo.promo-example
            %i.mdi-hardware-desktop-windows
            %h5.promo-caption
              Nasz cel
            %p.light.center
              Naszym celem jest promowanie idei wolnego oprogramowania. Wiemy, że Open Source jest coraz bardziej popularny w rozwiązaniach komercyjnych, jak i domowych. I zależy nam na jego popularyzacji.
  / Work
  #work.section.scrollspy
    .container
      %h2.header.text_b Work
      .row
        .col.s12.m4.l4
          .card
            .card-image.waves-effect.waves-block.waves-light
              %img.activator{:src => "img/project1.jpg"}/
            .card-content
              %span.card-title.activator.grey-text.text-darken-4
                Project Title
                %i.mdi-navigation-more-vert.right
              %p
                %a{:href => "#"} Project link
            .card-reveal
              %span.card-title.grey-text.text-darken-4
                Project Title
                %i.mdi-navigation-close.right
              %p Here is some more information about this project that is only revealed once clicked on.
        .col.s12.m4.l4
          .card
            .card-image.waves-effect.waves-block.waves-light
              %img.activator{:src => "img/project2.jpeg"}/
            .card-content
              %span.card-title.activator.grey-text.text-darken-4
                Project Title
                %i.mdi-navigation-more-vert.right
              %p
                %a{:href => "#"} Project link
            .card-reveal
              %span.card-title.grey-text.text-darken-4
                Project Title
                %i.mdi-navigation-close.right
              %p Here is some more information about this project that is only revealed once clicked on.
        .col.s12.m4.l4
          .card
            .card-image.waves-effect.waves-block.waves-light
              %img.activator{:src => "img/project3.png"}/
            .card-content
              %span.card-title.activator.grey-text.text-darken-4
                Project Title
                %i.mdi-navigation-more-vert.right
              %p
                %a{:href => "#"} Project link
            .card-reveal
              %span.card-title.grey-text.text-darken-4
                Project Title
                %i.mdi-navigation-close.right
              %p Here is some more information about this project that is only revealed once clicked on.
        .col.s12.m4.l4
          .card
            .card-image.waves-effect.waves-block.waves-light
              %img.activator{:src => "img/project4.jpg"}/
            .card-content
              %span.card-title.activator.grey-text.text-darken-4
                Project Title
                %i.mdi-navigation-more-vert.right
              %p
                %a{:href => "#"} Project link
            .card-reveal
              %span.card-title.grey-text.text-darken-4
                Project Title
                %i.mdi-navigation-close.right
              %p Here is some more information about this project that is only revealed once clicked on.
        .col.s12.m4.l4
          .card
            .card-image.waves-effect.waves-block.waves-light
              %img.activator{:src => "img/project5.png"}/
            .card-content
              %span.card-title.activator.grey-text.text-darken-4
                Project Title
                %i.mdi-navigation-more-vert.right
              %p
                %a{:href => "#"} Project link
            .card-reveal
              %span.card-title.grey-text.text-darken-4
                Project Title
                %i.mdi-navigation-close.right
              %p Here is some more information about this project that is only revealed once clicked on.
        .col.s12.m4.l4
          .card
            .card-image.waves-effect.waves-block.waves-light
              %img.activator{:src => "img/project6.jpeg"}/
            .card-content
              %span.card-title.activator.grey-text.text-darken-4
                Project Title
                %i.mdi-navigation-more-vert.right
              %p
                %a{:href => "#"} Project link
            .card-reveal
              %span.card-title.grey-text.text-darken-4
                Project Title
                %i.mdi-navigation-close.right
              %p Here is some more information about this project that is only revealed once clicked on.
  / Parallax
  .parallax-container
    .parallax
      %img{:src => "img/parallax1.png"}/
  / Team
  #team.section.scrollspy
    .container
      %h2.header.text_b=t.strings.team
      .row
        .col.s12.m4
          .card.card-avatar
            .waves-effect.waves-block.waves-light
              %img.activator{:src => "img/wczerpak.jpg"}/
            .card-content
              %span.card-title.activator.grey-text.text-darken-4
                Wojciech Czerpak
                %br/
                %small
                  %em
                    %a.red-text.text-darken-1{:href => "#"}=t.team.coordinator
              %p
                %a.blue-text.text-lighten-2{:href => "https://www.facebook.com/joash.c.pereira"}
                  %i.fa.fa-facebook-square
                %a.blue-text.text-lighten-2{:href => "https://twitter.com/im_joash"}
                  %i.fa.fa-twitter-square
                %a.blue-text.text-lighten-2{:href => "https://plus.google.com/u/0/+JoashPereira"}
                  %i.fa.fa-google-plus-square
                %a.blue-text.text-lighten-2{:href => "https://www.linkedin.com/in/joashp"}
                  %i.fa.fa-linkedin-square
        .col.s12.m4
          .card.card-avatar
            .waves-effect.waves-block.waves-light
              %img.activator{:src => "img/mplonka.jpg"}/
            .card-content
              %span.card-title.activator.grey-text.text-darken-4
                Magdalena Płonka
                %br/
                %small
                  %em
                    %a.red-text.text-darken-1{:href => "#"}=t.team.coordinator
              %p
                %a.blue-text.text-lighten-2{:href => "https://www.facebook.com/joash.c.pereira"}
                  %i.fa.fa-facebook-square
                %a.blue-text.text-lighten-2{:href => "https://twitter.com/im_joash"}
                  %i.fa.fa-twitter-square
                %a.blue-text.text-lighten-2{:href => "https://plus.google.com/u/0/+JoashPereira"}
                  %i.fa.fa-google-plus-square
                %a.blue-text.text-lighten-2{:href => "https://www.linkedin.com/in/joashp"}
                  %i.fa.fa-linkedin-square
        .col.s12.m4
          .card.card-avatar
            .waves-effect.waves-block.waves-light
              %img.activator{:src => "img/dprzybylek.jpg"}/
            .card-content
              %span.card-title.activator.grey-text.text-darken-4
                Dobrochna Przybyłek
                %br/
                %small
                  %em
                    %a.red-text.text-darken-1{:href => "#"} CMO
              %p
                %a.blue-text.text-lighten-2{:href => "https://www.facebook.com/joash.c.pereira"}
                  %i.fa.fa-facebook-square
                %a.blue-text.text-lighten-2{:href => "https://twitter.com/im_joash"}
                  %i.fa.fa-twitter-square
                %a.blue-text.text-lighten-2{:href => "https://plus.google.com/u/0/+JoashPereira"}
                  %i.fa.fa-google-plus-square
                %a.blue-text.text-lighten-2{:href => "https://www.linkedin.com/in/joashp"}
                  %i.fa.fa-linkedin-square
  / Footer
  %footer#contact.page-footer.default_color.footer_color.scrollspy
    .container
      .row
        .col.offset-l3.l6.s12
          %form.col.s12{:action => "contact.php", :method => "post"}
            .row
              .input-field.col.s6
                %i.mdi-action-account-circle.prefix.white-text
                %input#icon_prefix.validate.white-text{:name => "name", :type => "text"}/
                %label.white-text{:for => "icon_prefix"}=t.forms.name
              .input-field.col.s6
                %i.mdi-communication-email.prefix.white-text
                %input#icon_email.validate.white-text{:name => "email", :type => "email"}/
                %label.white-text{:for => "icon_email"}=t.forms.email
              .input-field.col.s12
                %i.mdi-editor-mode-edit.prefix.white-text
                %textarea#icon_prefix2.materialize-textarea.white-text{:name => "message"}
                %label.white-text{:for => "icon_prefix2"}=t.forms.question
              .col.offset-s7.s5
                %button.btn.waves-effect.waves-light.red.darken-1{:type => "submit"}
                  = t.forms.submit
                  %i.mdi-content-send.right.white-text
