!!!
%html{"xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", :name => "viewport"}/
    %meta{:content => "14. Sesja Linuksowa", :property => "og:site_name"}/
    %meta{:content => "pl_pl", :property => "og:locale"}/
    %meta{:content => "website", :property => "og:type"}/
    %meta{:content => "14. Sesja Linuksowa | 6-7 maja 2017 | Wrocław, Polska", :property => "og:title"}/
    %meta{:content => "http://14.sesja.linuksowa.pl/", :property => "og:url"}/
    %meta{:content => "Sesja Linuksowa to największa w Polsce konferencja poświęcona rozwiązaniom Open Source oraz najnowszym trendom w systemach z rodziny GNU/Linux.", :property => "og:description"}/
    %meta{:content => "http://14.sesja.linuksowa.pl/img/logo-opengraph-pl.jpg", :property => "og:image"}/
    %link{:href => "css/style.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700&subset=latin-ext,latin", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}/
    %title 14. Sesja Linuksowa | 6-7 maja 2017 | Wrocław, Polska
  %body
    %img.image-preload{:src => "img/tla/1.jpg"}/
    #con-head.con-bg
      .con-content
        %a{:href => "#top"}
          %img{:src => "img/logo-male-pl.png"}/
        %span#menu-button.fa-bars
        #menu-container.mobile-hidden
          %a{:href => "#about"} O sesji
          %a{:href => "#callforpapers"} Call for Papers
          %a{:href => "#wspolpraca"} Współpraca
          %a{:href => "#organizatorzy"} Organizatorzy
          %a{:href => "#kontakt"} Kontakt
    #con-description.con-bg
      %span#top.anchor-jump-link
      .main-bg-container{:style => "background-image: url('img/tla/1.jpg')"}
      .con-content
        .social
          / pseudokopia sociala aby logo było wciąż wyrównane w pionie do środka
          %span
            %img{:src => "img/squares-empty.png"}/
          %span
            %img{:src => "img/squares-empty.png"}/
        #logo-container
          %img{:alt => "14. Sesja Linuksowa", :src => "img/logo-duze-pl.png"}/
        .social
          %a{:href => "https://www.facebook.com/sesjalinuksowa"}
            %img{:alt => "", :src => "img/squares-facebook.png"}/
          %a{:href => "https://www.youtube.com/user/pwrasi"}
            %img{:alt => "", :src => "img/squares-youtube.png"}/
          %a{:href => "https://twitter.com/sesjalinuksowa"}
            %img{:alt => "", :src => "img/squares-twitter.png"}/
          %a{:href => "https://plus.google.com/+AkademickieStowarzyszenieInformatycznePWR"}
            %img{:alt => "", :src => "img/squares-google-plus.png"}/
    #con-about.con-bg
      %span#about.anchor-jump-link
      .con-content
        .third
          %img{:alt => "Czym jest sesja?", :src => "img/ikony/coTo.png"}/
          %h2 Czym jest sesja?
          %p Jest to konferencja poświęcona rozwiązaniom Open Source oraz najnowszym trendom w systemach z rodziny GNU/Linux.
        .third
          %img{:alt => "Jak to wygląda?", :src => "img/ikony/jakWyglada.png"}/
          %h2 Jak to wygląda?
          %p Udział w Sesji jest darmowy. Co roku na konferencji spotykają się pasjonaci informatyki z całej Polski, aby pogłębić swoją wiedzę i podjąć dyskusję w interesujących ich dziedzinach.
        .third
          %img{:alt => "Nasz cel", :src => "img/ikony/cel.png"}/
          %h2 Nasz cel
          %p Naszym celem jest promowanie idei wolnego oprogramowania. Wiemy, że Open Source jest coraz bardziej popularny w rozwiązaniach komercyjnych, jak i domowych. I zależy nam na jego popularyzacji.
    #con-callforpapers.con-bg
      %span#callforpapers.anchor-jump-link
      .con-content
        %h2.bg-text Call for Papers
        %h2.spacer  
        .third
          %h2 Chcesz podzielić się wiedzą?
          %p Jeśli zajmujesz się zawodowo lub hobbystycznie Linuksem, masz hopla na punkcie tego systemu i chcesz opowiedzieć o tym uczestnikom konferencji, zapraszamy do zgłoszenia swojego wystąpienia.
        .third
          %h2 Wygłoś swoją prelekcję!
          %p Potrzebujemy od ciebie jedynie: imię i nazwisko, kilka słów o sobie, aktualne zdjęcie, tytuł prelekcji i abstrakt oraz ewentualne niestandardowe wymagania techniczne.
        .third
          %h2 Skontaktuj się z nami
          %p
            Zgłoszenia przyjmujemy mailowo pod adresem
            %a{:href => "mailto:prelekcje@sesja.linuksowa.pl"} prelekcje@sesja.linuksowa.pl
            %br/
            Ostateczny termin przyjmowania zgłoszeń to 7 kwietnia.
    #con-live.con-bg
      %span#live.anchor-jump-link
      .con-content
        %h2.bg-text 13. Sesja Linuksowa
        %h2.spacer  
        .embed-container
          %iframe{:allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/videoseries?list=PLTvZBPQxCI8GZvERUrxAXMqHq_eQ2nD41"}
        .third
          %p
            %b 13. Sesja Linuksowa
            odbyła się w dniach 2-3 kwietnia 2016 roku w Strefie Kultury Studenckiej Politechniki Wrocławskiej.
        .third
          %p Numer edycji zabowiązuje - podczas 13. Sesji uczestnicy mieli okazję wysłuchać trzynastu prelekcji. Swoją obecnością ponownie zaszczycił nas Klaus Knopper.
        .third
          %p
            Agendę, pregelenetów i więcej informacji odnośnie poprzedniej edycji konferencji można znaleźć pod adresem
            %a{:href => "http://13.sesja.linuksowa.pl/pl"} 13.sesja.linuksowa.pl
    / #map
    #con-wspolpraca.con-bg
      %span#wspolpraca.anchor-jump-link
      .con-content
        %h2 Współpraca
        %h3 Jesteś zainteresowany współpracą z nami? Zapoznaj się z naszą ofertą sponsorską!
        %a.button{:href => "pdf/offer_pl.pdf"} Oferta sponsorska
    
    #con-organizatorzy.con-bg
      %span#organizatorzy.anchor-jump-link
      .con-content
        %h2.bg-text Organizatorzy
        %h2.spacer  
        .loga
          .logo-asi
            %a{:href => "http://asi.wroclaw.pl"}
              %img{:src => "img/loga/logo-asi.png"}/
        .loga.organizatorzy
          %a{:href => "http://www.pwr.edu.pl"}
            %img{:src => "img/loga/logo-pwr.png"}/
          %a{:href => "http://manus.pl"}
            %img{:src => "img/loga/logo-manus.png"}/
      #con-kontakt.con-bg
        %span#kontakt.anchor-jump-link
        .con-content
          %h2.bg-text Kontakt
          %h2.spacer  
          %form{:action => "/", :method => "POST", :role => "form"}
            %input#name.form-control{:name => "name", :placeholder => "Imię", :type => "text"}/
            %input#email.form-control{:name => "email", :placeholder => "Email", :type => "email"}/
            %textarea#content.form-control{:name => "content", :placeholder => "Pytania? Sugestie? Wpisz je tutaj!", :rows => "10"}
            %input#sendemail{:type => "submit", :value => "Wyślij"}/
      #con-footer.con-bg
        .con-content
          © 2016
          %a{:href => "http://asi.wroclaw.pl"} Akademickie Stowarzyszenie Informatyczne
          |
          %a{:href => "http://pwr.edu.pl"} Politechnika Wrocławska
      -# / Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/
      -# %script{:src => "https://maps.googleapis.com/maps/api/js?sensor=false", :type => "text/javascript"}
      %script{:src => "js/jquery-2.1.1.min.js"}
      %script{:src => "js/style.js"}
